Issues with AWS ECR as an OCI Binary Mirror

### Steps to reproduce

I am unable to use AWS ECR as a valid OCI endpoint for binary mirrors.

cc @bollig and @shahzebsiddiqui as we were discussing on Slack.

I can't include the full steps on AWS to reproduce (account creation...), but once you have an ECR registry configured, you can start by generating the relevant IAM role and permissions with the following commands (assuming that you have already run a `isengardcli assume <account-name>@amazon.com --role Admin --region $AWS_REGION`):

```bash
# Create trust document
cat > trust-policy.json << EOF
{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "AWS": "arn:aws:iam::<account-id>:root"
      },
      "Action": "sts:AssumeRole"
    }
  ]
}
EOF

# Create IAM Role
aws iam create-role \
    --role-name <role-name> \
    --assume-role-policy-document file://trust-policy.json
```

Then, we need to give the final permissions to the role:

```bash
aws iam put-role-policy --role-name <role-name> --policy-name <policy-name> --policy-document '{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
        "ecr:GetAuthorizationToken",
        "ecr:BatchCheckLayerAvailability",
        "ecr:BatchGetImage",
        "ecr:CompleteLayerUpload",
        "ecr:DescribeImages",
        "ecr:DescribeRepositories",
        "ecr:GetDownloadUrlForLayer",
        "ecr:InitiateLayerUpload",
        "ecr:ListImages",
        "ecr:PutImage",
        "ecr:UploadLayerPart"
      ],
      "Resource": "*"
    }
  ]
}'
```

With this, we can then run this to generate a file with all the temporary creds we need:

```bash
aws sts assume-role --role-arn arn:aws:iam::<account-id>:role/<role-name> --role-session-name <session-name> --output yaml > ./creds/secrets.txt
```

I chose then to parse the YAML using `yq`, so you might need that installed, along with podman/docker and the AWS CLI now that I think about it... Here is then the script that then attempts to upload the OCI binaries to the ECR cache (abbreviated from my longer script, assuming spack is already installed):

```bash
#!/bin/bash

# Setup spack
source ${SPACK_ROOT}/share/spack/setup-env.sh

# Lets configure the environment based on spack arch output
SPACK_ENV=/scratch/${USER}/external-$(spack arch --generic)

mkdir -p ${SPACK_ENV}

# Create a heredoc spack configuration
cat >${SPACK_ENV}/spack.yaml <<EOF
spack:
  specs:
    - zlib
  view: false
  mirrors:
    ecr-cache:
      url: oci://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com
      signed: false
      autopush: false
EOF

export AWS_DEFAULT_REGION=<AWS-REGION>
export AWS_ACCESS_KEY_ID=$(yq '.Credentials.AccessKeyId' ./creds/secrets.txt)
export AWS_SECRET_ACCESS_KEY=$(yq '.Credentials.SecretAccessKey' ./creds/secrets.txt)
export AWS_SESSION_TOKEN=$(yq '.Credentials.SessionToken' ./creds/secrets.txt)

# Load AWS credentials, and push to buildcache
export CACHE_USERNAME="AWS"
export CACHE_PASSWORD=$(aws ecr get-login-password --region <AWS-REGION>)

spack -e ${SPACK_ENV} install

echo "Pushing to buildcache..."
podman login --username AWS --password $CACHE_PASSWORD <account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com

spack -d -e ${SPACK_ENV} buildcache push --force --with-build-dependencies --unsigned --update-index ecr-cache
```

### Error message

So I tried a few things in debugging.

<details>

<summary>1. Un-modified from above</summary>

```
==> [2025-09-23-22:35:36.479799] Selected 4 specs to push to oci://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com
==> [2025-09-23-22:35:36.480340] DATABASE LOCK TIMEOUT: 60s
==> [2025-09-23-22:35:36.480399] PACKAGE LOCK TIMEOUT: No timeout
==> [2025-09-23-22:35:36.521255] [1/4] Pushing gmake@4.4.1/romgf75...
==> [2025-09-23-22:35:36.722458] urllib: certs: using cafile /usr/lib/ssl/certs/ca-certificates.crt
==> [2025-09-23-22:35:36.737828] urllib: certs: using cafile /usr/lib/ssl/certs/ca-certificates.crt
==> [2025-09-23-22:35:36.908596] [1/4] Failed to push gmake@4.4.1/romgf75
==> [2025-09-23-22:35:36.908778] [2/4] Pushing gcc-runtime@14.3.0/cz4sz62...
==> [2025-09-23-22:35:40.022327] [2/4] Failed to push gcc-runtime@14.3.0/cz4sz62
==> [2025-09-23-22:35:40.022501] [3/4] Failed to push compiler-wrapper@1.0/t2dukpb
==> [2025-09-23-22:35:40.022567] [4/4] Failed to push zlib@1.3.1/pau7ciy
==> [2025-09-23-22:35:40.022594] Uploading manifests
==> [2025-09-23-22:35:40.030121] SpackError: The following 4 errors occurred while pushing specs to the buildcache
        gmake@4.4.1/romgf75: DetailedHTTPError: HEAD https://index.docker.io/v2/library/<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/blobs/sha256:4634788b7cf29822d1013196c92c31c121b2294af082f33c364769607dd6d76e returned 401: Failed to login: Unauthorized
    gcc-runtime@14.3.0/cz4sz62: DetailedHTTPError: HEAD https://index.docker.io/v2/library/<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/blobs/sha256:85ca11171fb70ffc1c309302c5d867d00c4884a118f651a08986649436290123 returned 401: Failed to login: Unauthorized
    compiler-wrapper@1.0/t2dukpb: DetailedHTTPError: HEAD https://index.docker.io/v2/library/<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/blobs/sha256:18c3ff0afaeed0c2b2e78e6de9daf4fe97f507dd73e658c061704cf19a27ad7a returned 401: Failed to login: Unauthorized
    zlib@1.3.1/pau7ciy: DetailedHTTPError: HEAD https://index.docker.io/v2/library/<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/blobs/sha256:48c6074c5662ea31b95ad56e3338f1b20fc032bf02dd872d7c2056d1c10a211f returned 401: Failed to login: Unauthorized
==> [2025-09-23-22:35:40.030183] Error: The following 4 errors occurred while pushing specs to the buildcache
    gmake@4.4.1/romgf75: DetailedHTTPError: HEAD https://index.docker.io/v2/library/<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/blobs/sha256:4634788b7cf29822d1013196c92c31c121b2294af082f33c364769607dd6d76e returned 401: Failed to login: Unauthorized
    gcc-runtime@14.3.0/cz4sz62: DetailedHTTPError: HEAD https://index.docker.io/v2/library/<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/blobs/sha256:85ca11171fb70ffc1c309302c5d867d00c4884a118f651a08986649436290123 returned 401: Failed to login: Unauthorized
    compiler-wrapper@1.0/t2dukpb: DetailedHTTPError: HEAD https://index.docker.io/v2/library/<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/blobs/sha256:18c3ff0afaeed0c2b2e78e6de9daf4fe97f507dd73e658c061704cf19a27ad7a returned 401: Failed to login: Unauthorized
    zlib@1.3.1/pau7ciy: DetailedHTTPError: HEAD https://index.docker.io/v2/library/<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/blobs/sha256:48c6074c5662ea31b95ad56e3338f1b20fc032bf02dd872d7c2056d1c10a211f returned 401: Failed to login: Unauthorized
Traceback (most recent call last):
  File "/path/to/spack/lib/spack/spack/main.py", line 1095, in main
    return _main(argv)
  File "/path/to/spack/lib/spack/spack/main.py", line 1047, in _main
    return finish_parse_and_run(parser, cmd_name, args, env_format_error)
  File "/path/to/spack/lib/spack/spack/main.py", line 1078, in finish_parse_and_run
    return _invoke_command(command, parser, args, unknown)
  File "/path/to/spack/lib/spack/spack/main.py", line 591, in _invoke_command
    return_val = command(parser, args)
  File "/path/to/spack/lib/spack/spack/cmd/buildcache.py", line 854, in buildcache
    return args.func(args)
  File "/path/to/spack/lib/spack/spack/cmd/buildcache.py", line 474, in push_fn
    raise spack.error.SpackError(
spack.error.SpackError: The following 4 errors occurred while pushing specs to the buildcache
        gmake@4.4.1/romgf75: DetailedHTTPError: HEAD https://index.docker.io/v2/library/<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/blobs/sha256:4634788b7cf29822d1013196c92c31c121b2294af082f33c364769607dd6d76e returned 401: Failed to login: Unauthorized
    gcc-runtime@14.3.0/cz4sz62: DetailedHTTPError: HEAD https://index.docker.io/v2/library/<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/blobs/sha256:85ca11171fb70ffc1c309302c5d867d00c4884a118f651a08986649436290123 returned 401: Failed to login: Unauthorized
    compiler-wrapper@1.0/t2dukpb: DetailedHTTPError: HEAD https://index.docker.io/v2/library/<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/blobs/sha256:18c3ff0afaeed0c2b2e78e6de9daf4fe97f507dd73e658c061704cf19a27ad7a returned 401: Failed to login: Unauthorized
    zlib@1.3.1/pau7ciy: DetailedHTTPError: HEAD https://index.docker.io/v2/library/<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/blobs/sha256:48c6074c5662ea31b95ad56e3338f1b20fc032bf02dd872d7c2056d1c10a211f returned 401: Failed to login: Unauthorized
```

</details>

<details>

<summary>2. Using `palace/spack-cace` at the end of the OCI URL, correctly specifying the full URL </summary>

```
==> [2025-09-23-23:01:05.819910] Selected 4 specs to push to oci://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/palace/spack-cache
==> [2025-09-23-23:01:05.820483] DATABASE LOCK TIMEOUT: 60s
==> [2025-09-23-23:01:05.820546] PACKAGE LOCK TIMEOUT: No timeout
==> [2025-09-23-23:01:05.861954] [1/4] Pushing gmake@4.4.1/romgf75...
==> [2025-09-23-23:01:06.062985] urllib: certs: using cafile /usr/lib/ssl/certs/ca-certificates.crt
==> [2025-09-23-23:01:06.131385] [1/4] Failed to push gmake@4.4.1/romgf75
==> [2025-09-23-23:01:06.131550] [2/4] Pushing gcc-runtime@14.3.0/cz4sz62...
==> [2025-09-23-23:01:06.151351] urllib: certs: using cafile /usr/lib/ssl/certs/ca-certificates.crt
==> [2025-09-23-23:01:09.246520] [2/4] Failed to push gcc-runtime@14.3.0/cz4sz62
==> [2025-09-23-23:01:09.246701] [3/4] Failed to push compiler-wrapper@1.0/t2dukpb
==> [2025-09-23-23:01:09.246782] [4/4] Failed to push zlib@1.3.1/pau7ciy
==> [2025-09-23-23:01:09.246808] Uploading manifests
==> [2025-09-23-23:01:09.254237] SpackError: The following 4 errors occurred while pushing specs to the buildcache
        gmake@4.4.1/romgf75: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:4634788b7cf29822d1013196c92c31c121b2294af082f33c364769607dd6d76e returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/",service="ecr.amazonaws.com"
    gcc-runtime@14.3.0/cz4sz62: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:85ca11171fb70ffc1c309302c5d867d00c4884a118f651a08986649436290123 returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/",service="ecr.amazonaws.com"
    compiler-wrapper@1.0/t2dukpb: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:18c3ff0afaeed0c2b2e78e6de9daf4fe97f507dd73e658c061704cf19a27ad7a returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/",service="ecr.amazonaws.com"
    zlib@1.3.1/pau7ciy: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:48c6074c5662ea31b95ad56e3338f1b20fc032bf02dd872d7c2056d1c10a211f returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/",service="ecr.amazonaws.com"
==> [2025-09-23-23:01:09.254298] Error: The following 4 errors occurred while pushing specs to the buildcache
    gmake@4.4.1/romgf75: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:4634788b7cf29822d1013196c92c31c121b2294af082f33c364769607dd6d76e returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/",service="ecr.amazonaws.com"
    gcc-runtime@14.3.0/cz4sz62: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:85ca11171fb70ffc1c309302c5d867d00c4884a118f651a08986649436290123 returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/",service="ecr.amazonaws.com"
    compiler-wrapper@1.0/t2dukpb: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:18c3ff0afaeed0c2b2e78e6de9daf4fe97f507dd73e658c061704cf19a27ad7a returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/",service="ecr.amazonaws.com"
    zlib@1.3.1/pau7ciy: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:48c6074c5662ea31b95ad56e3338f1b20fc032bf02dd872d7c2056d1c10a211f returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/",service="ecr.amazonaws.com"
Traceback (most recent call last):
  File "/path/to/spack/lib/spack/spack/main.py", line 1095, in main
    return _main(argv)
  File "/path/to/spack/lib/spack/spack/main.py", line 1047, in _main
    return finish_parse_and_run(parser, cmd_name, args, env_format_error)
  File "/path/to/spack/lib/spack/spack/main.py", line 1078, in finish_parse_and_run
    return _invoke_command(command, parser, args, unknown)
  File "/path/to/spack/lib/spack/spack/main.py", line 591, in _invoke_command
    return_val = command(parser, args)
  File "/path/to/spack/lib/spack/spack/cmd/buildcache.py", line 854, in buildcache
    return args.func(args)
  File "/path/to/spack/lib/spack/spack/cmd/buildcache.py", line 474, in push_fn
    raise spack.error.SpackError(
spack.error.SpackError: The following 4 errors occurred while pushing specs to the buildcache
        gmake@4.4.1/romgf75: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:4634788b7cf29822d1013196c92c31c121b2294af082f33c364769607dd6d76e returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/",service="ecr.amazonaws.com"
    gcc-runtime@14.3.0/cz4sz62: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:85ca11171fb70ffc1c309302c5d867d00c4884a118f651a08986649436290123 returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/",service="ecr.amazonaws.com"
    compiler-wrapper@1.0/t2dukpb: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:18c3ff0afaeed0c2b2e78e6de9daf4fe97f507dd73e658c061704cf19a27ad7a returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/",service="ecr.amazonaws.com"
    zlib@1.3.1/pau7ciy: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:48c6074c5662ea31b95ad56e3338f1b20fc032bf02dd872d7c2056d1c10a211f returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com/",service="ecr.amazonaws.com"
```

</details>

3. No logs here, but if you get the URL wrong enough, it just makes a filesystem mirror with the name of the URL.

So, in cases 1 and 2, we get 2 slightly different 401 errors, with the second one suggesting that Spack isn't configured to authenticate with ECR in the correct way, and so it's then hopefully up to Spack to fix this / the error isn't on the AWS end.

To this end, `podman login` says "Login Succeeded!" in my scripts, and I am able to push / pull a test image to ECR with the same credentials.

### Information on your system

```console
$ spack debug report
* **Spack:** 1.1.0.dev0 (https://github.com/spack/spack/commit/a487f1c4edf7f577019921a41a4330b29a0ebd9e)
* **Builtin repo:** https://github.com/spack/spack-packages/commit/3902c3da2e160ec366268a669516b481a441a76c
* **Python:** 3.10.12
* **Platform:** linux-ubuntu22.04-icelake
```

### General information

- [x] I have run `spack debug report` and reported the version of Spack/Python/Platform
- [x] I have searched the issues of this repo and believe this is not a duplicate
- [x] I have run the failing commands in debug mode and reported the output

Regarding 2: for `WWW-Authenticate` response headers, Spack expects `realm`, `service` and `scope` to be set.

This is based on this document: https://docs.docker.com/reference/api/registry/auth/

> To respond to this challenge, the client will need to make a `GET` request to the URL ... using the `service` and `scope` values from the `WWW-Authenticate` header.

According to [RFC 6750 section 3](https://www.rfc-editor.org/rfc/rfc6750.html#section-3) `scope` is optional, but it's required for Dockerhub.

I can make it optional in Spack.

And regarding 1: you'd have the same with `docker push <account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com`; it needs an valid image name you have push access to, and that's registry dependent, so I cannot distinguish between incorrect credentials and trying to push to an image you don't have access to.

Let me know if https://github.com/spack/spack/pull/51356 fixes the authentication issue.

I tried your changes but seem to be getting the same error:


```
Login Succeeded!
==> [2025-09-24-15:12:18.410000] Imported buildcache from built-in commands
==> [2025-09-24-15:12:18.413389] Imported buildcache from built-in commands
==> [2025-09-24-15:12:18.413688] Reading config from file /path/to/spack/etc/spack/defaults/mirrors.yaml
==> [2025-09-24-15:12:18.414825] Reading config from file /path/to/spack/etc/spack/defaults/base/packages.yaml
==> [2025-09-24-15:12:18.427161] Reading config from file /path/to/spack/etc/spack/defaults/darwin/packages.yaml
==> [2025-09-24-15:12:18.431878] Reading config from file /path/to/spack/etc/spack/packages.yaml
==> [2025-09-24-15:12:18.436869] Reading config from file /path/to/spack/etc/spack/defaults/repos.yaml
==> [2025-09-24-15:12:18.437672] Reading config from file /path/to/spack/etc/spack/repos.yaml
==> [2025-09-24-15:12:18.452405] Selected 3 specs to push to oci://<account-id>.dkr.ecr.<AWS_REGION>.amazonaws.com/palace/spack-cache
==> [2025-09-24-15:12:18.452704] DATABASE LOCK TIMEOUT: 60s
==> [2025-09-24-15:12:18.452740] PACKAGE LOCK TIMEOUT: No timeout
==> [2025-09-24-15:12:18.473402] certs: relative path not allowed: $SSL_CERT_FILE
==> [2025-09-24-15:12:19.767859] [1/3] Failed to push gmake@4.4.1/tqqz67s
==> [2025-09-24-15:12:19.768150] [2/3] Failed to push compiler-wrapper@1.0/jmb5dvt
==> [2025-09-24-15:12:19.768298] [3/3] Failed to push zlib@1.3.1/57mavaj
==> [2025-09-24-15:12:19.768354] Uploading manifests
==> [2025-09-24-15:12:19.771127] SpackError: The following 3 errors occurred while pushing specs to the buildcache
        gmake@4.4.1/tqqz67s: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS_REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:effe690aeb6f069c0abf02490b9db427e233d3db03ae520cc6498423f8ddd41f returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS_REGION>.amazonaws.com/",service="ecr.amazonaws.com"
    compiler-wrapper@1.0/jmb5dvt: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS_REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:bc6c6f7bd4ab62ae99ade25bbd41efbacdd24d164dcf5829be02f3cf1d52ca1a returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS_REGION>.amazonaws.com/",service="ecr.amazonaws.com"
    zlib@1.3.1/57mavaj: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS_REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:18d8e76cd93f78ececb360a47b58e016dfc0da6e6e69c1e04db59cab2ce56883 returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS_REGION>.amazonaws.com/",service="ecr.amazonaws.com"
==> [2025-09-24-15:12:19.771269] Error: The following 3 errors occurred while pushing specs to the buildcache
    gmake@4.4.1/tqqz67s: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS_REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:effe690aeb6f069c0abf02490b9db427e233d3db03ae520cc6498423f8ddd41f returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS_REGION>.amazonaws.com/",service="ecr.amazonaws.com"
    compiler-wrapper@1.0/jmb5dvt: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS_REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:bc6c6f7bd4ab62ae99ade25bbd41efbacdd24d164dcf5829be02f3cf1d52ca1a returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS_REGION>.amazonaws.com/",service="ecr.amazonaws.com"
    zlib@1.3.1/57mavaj: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS_REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:18d8e76cd93f78ececb360a47b58e016dfc0da6e6e69c1e04db59cab2ce56883 returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS_REGION>.amazonaws.com/",service="ecr.amazonaws.com"
Traceback (most recent call last):
  File "/path/to/spack/lib/spack/spack/main.py", line 1095, in main
    return _main(argv)
  File "/path/to/spack/lib/spack/spack/main.py", line 1047, in _main
    return finish_parse_and_run(parser, cmd_name, args, env_format_error)
  File "/path/to/spack/lib/spack/spack/main.py", line 1078, in finish_parse_and_run
    return _invoke_command(command, parser, args, unknown)
  File "/path/to/spack/lib/spack/spack/main.py", line 591, in _invoke_command
    return_val = command(parser, args)
  File "/path/to/spack/lib/spack/spack/cmd/buildcache.py", line 854, in buildcache
    return args.func(args)
           ~~~~~~~~~^^^^^^
  File "/path/to/spack/lib/spack/spack/cmd/buildcache.py", line 474, in push_fn
    raise spack.error.SpackError(
    ...<10 lines>...
    )
spack.error.SpackError: The following 3 errors occurred while pushing specs to the buildcache
        gmake@4.4.1/tqqz67s: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS_REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:effe690aeb6f069c0abf02490b9db427e233d3db03ae520cc6498423f8ddd41f returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS_REGION>.amazonaws.com/",service="ecr.amazonaws.com"
    compiler-wrapper@1.0/jmb5dvt: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS_REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:bc6c6f7bd4ab62ae99ade25bbd41efbacdd24d164dcf5829be02f3cf1d52ca1a returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS_REGION>.amazonaws.com/",service="ecr.amazonaws.com"
    zlib@1.3.1/57mavaj: DetailedHTTPError: HEAD https://<account-id>.dkr.ecr.<AWS_REGION>.amazonaws.com/v2/palace/spack-cache/blobs/sha256:18d8e76cd93f78ececb360a47b58e016dfc0da6e6e69c1e04db59cab2ce56883 returned 401: Cannot login to registry, unsupported authentication scheme: Basic realm="https://<account-id>.dkr.ecr.<AWS_REGION>.amazonaws.com/",service="ecr.amazonaws.com"
```

`Login Suceeded` at the top of the log is output from the usual `podman login --username AWS --password $CACHE_PASSWORD <account-id>.dkr.ecr.<AWS-REGION>.amazonaws.com`, so unsure what's going wrong.

I verified that I am using your PR:

```
* **Spack:** 1.1.0.dev0 (https://github.com/spack/spack/commit/9be9e105cff5cb04cef0da70aebb6d84234e2be3)
* **Builtin repo:** https://github.com/spack/spack-packages/commit/d30fe06e7b8e94b38fe0cc81d39cc95a43dc6eea
* **Python:** 3.13.6
* **Platform:** darwin-sequoia-m1
```

EDIT: Yes this is a different Python version, but hopefully that isn't a confounding issue here.

Oh, I missed it uses `Basic` auth instead of `Bearer`, that's why it's failing. I'll have a look.

Can you give it another try?

For me it works:

<img width="2169" height="480" alt="Image" src="https://github.com/user-attachments/assets/3187d026-4531-4b5b-8554-8df67d1cb679" />


```
$ export AWS_PASS="$(aws ecr get-login-password --region eu-west-1)"

$ cat spack.yaml 
spack:
  specs:
  - python@3.13
  view: false
  mirrors:
    aws:
      url: oci://XXXXXXXXXXXX.dkr.ecr.eu-west-1.amazonaws.com/foo/bar
      access_pair:
        id: AWS
        secret_variable: AWS_PASS

$ spack -e . buildcache push --without-build-dependencies --base-image ubuntu:24.04 --tag latest aws

$ docker run --rm XXXXXXXXXXXX.dkr.ecr.eu-west-1.amazonaws.com/foo/bar python3 -c 'print(1+1)'
2
```

I think it's a good idea to update the docs to reflect how to configure auth for dockerhub/ghcr/aws ecr specifically.

I pulled and verified your changes fix the issue. Thanks!

I agree, the documentation could be much improved, but I am glad that we got this working! 🎊 